@import "tailwindcss";

:root {
  --background: #160505;
  --foreground: #ffffff;
  --yellow: #ebd87d;
  --orange: #f09400;
  --red: #f00000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-yellow: var(--yellow);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
